{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.organization.businessunit.name.label'|trans, entity.name) }}
            {{ ui.renderProperty('oro.organization.businessunit.organization.label'|trans, entity.organization) }}
            {{ ui.renderHtmlProperty('oro.organization.businessunit.website.label'|trans, entity.website ? ui.renderUrl(entity.website) : null) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderHtmlProperty('oro.organization.businessunit.email.label'|trans, email.email_address_simple(entity.email)) }}
            {{ ui.renderHtmlProperty('oro.organization.businessunit.phone.label'|trans, entity.phone ? ui.renderPhone(entity.phone) : null) }}
            {{ ui.renderHtmlProperty('oro.organization.businessunit.fax.label'|trans, entity.fax ? ui.renderPhone(entity.fax) : null) }}
        </div>
    </div>
</div>
